# Don't include the following files in the archive
#(useful when creating a Release in which the archive is available as a .zip file)
##################################################################################

# .gitignore, .gitattributes
.git*  export-ignore